* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Special Elite', cursive;
}

body {
  background: radial-gradient(#f8d38a, #ecc371);
}

main {
  min-height: 80vh;
}

nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
