@import '~bootstrap/scss/bootstrap';

$primary: #1b1b1b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  background: #fff;
}

.card {
  background: transparent;
  border: 1px solid black;
}

main {
  min-height: 80vh;
}

nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.nav-link {
  color: $primary !important;
}
